.first{
background-color:rgb(209 250 229);
padding: 0px;
}

navbar{
    display: flex;
    padding-top: 4vh;
}

navbar div{
    font-size: 4vh;
    padding-left: 10vh;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(5 150 105 / var(--tw-text-opacity));
}

navbar elements {
    padding-left: 25vh;
    padding-top: 2vh;
}
navbar elements a{
    padding: 3vh;
}


.Home{
    padding:40vh 50vh 10vh 10vh;
    
}
.Home span{
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing:0.05em;
}


.tagline{
  font-size: 3vh;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
}


.techstack{
  padding:10vh 50vh 10vh 10vh;
  background-color: aquamarine;
}
.heads{
  font-size: 5vh;
  font-family: Arial, Helvetica, sans-serif;

}




















.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
