*{background-color:rgb(209 250 229);}

navbar{
    display: flex;
    padding-top: 4vh;
}

navbar div{
    font-size: 4vh;
    padding-left: 10vh;
}

navbar elements {
    padding-left: 25vh;
    padding-top: 2vh;
}
navbar elements a{
    padding: 3vh;
}


.Home{
    padding:40vh 50vh 10vh 10vh;
}
.Home span{
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing:0.05em;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}
